---
layout: layout.njk
---
<article class="bulletin">
  {% set editionDate = page.date %}
  {% set editionUrl = page.url %}
  {% include "edition-head.njk" %}
  {% set glanceData = glance[editionDate | isoDate] %}
  {% include "glance.njk" %}
  {{ content | safe }}
</article>
