---
layout: layout.njk
title: "Today"
permalink: "/"
---
{% set latest = collections.bulletins | first %}
<article class="bulletin">
  {% set editionDate = latest.date %}
  {% set editionUrl = latest.url %}
  {% set showPermalink = true %}
  {% include "edition-head.njk" %}
  {{ latest.templateContent | safe }}
</article>
