---
layout: layout.njk
title: "Today"
permalink: "/"
---
{% set latest = collections.bulletins | first %}
<article class="bulletin">
  <h1 class="edition-date">{{ latest.date | readableDate }}</h1>
  <p class="edition-permalink"><a href="{{ latest.url }}">Permanent link</a></p>
  {{ latest.templateContent | safe }}
</article>
